body{
        /* background-color: rgb(75, 161, 161);*/
     margin: 0px;
     text-align: center;
     font-family: 'Merriweather',serif;
     color: #40514E;
}

p{
    line-height: 2;
}
a{
    color: #11999E;
    font-family: 'Merriweather',serif;
    margin: 20px 10px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.top{
    
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;    

    font-family: 'Style Script', cursive;

    color: #66BFBF;
}
h2{
    font-family: 'monsterrat', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
}

h3{
    font-family: 'monsterrat', sans-serif;
    color: #11999E;
}

.buttomcloud{
    position: absolute;
    left: 400px;
    bottom: 350px;
}
.topcloud{
    position: absolute;
    top: 100px;
    right: 400px;
}

.middle-container{
    background-color: #EAF6F6;
    position: relative;
    padding: 50px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;

}
.img{
    height: 200px;
    width: 200px;
}
.intro{
    width: 25%;
    margin:auto;
    
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.skill-row{
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.sof{
    width: 25%;
    float: left;
    padding-right: 25px;
}
.atl{
 width: 25%;
 float:right;
 margin-left: 25px;
}
.contact-massage{
    width: 40%;
    margin: 40px auto 60px;
}
.spc{
    border-spacing: 20%;
}
.last{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'monsterrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
